---
import ConnectIcon from '../icons/Connect.astro'

import { useTranslations } from '@/i18n/utils'
import { languageList } from '@/i18n/ui'

const currentLang = Astro.currentLocale || 'es'

const translateLabels = useTranslations(currentLang as keyof typeof languageList)
---

<a
  href='https://linkedin.com/in/sergioaguadogarrido'
  target='_blank'
  rel='noopener noreferrer'
  role='link'
  class='inline-flex items-center justify-center gap-2 px-4 py-1 transition border-1
  rounded-full text-black bg-teal-300 text-md hover:bg-teal-600 border-teal-300 focus-visible:bg-teal-600 hover:scale-105'
>
  <ConnectIcon class='size-4' />
  {translateLabels('hero.pills.connect')}
</a>
