---
import Download from '../icons/Download.astro'
---

<a
  href='/Mi CV.pdf'
  target='_blank'
  rel='noopener noreferrer'
  role='link'
  class='inline-flex items-center justify-center gap-2 px-4 py-1 transition border-2
  rounded-full border-teal-white text-white focus-visible:bg-slate-400/20 text-md
  hover:bg-slate-400/20 hover:scale-105'
>
  <Download class='size-4' />
  Currículum
</a>
