---
import MailIcon from '@/components/icons/Mail.astro'
---

<a
  href='mailto:sergioaguadogarrido@gmail.com'
  target='_blank'
  rel='noopener noreferrer'
  role='link'
  class='inline-flex items-center justify-center gap-2 px-4 py-1 transition border-2
  rounded-full border-teal-300 text-teal-300 focus-visible:bg-slate-400/20 text-md
  hover:bg-slate-400/20 hover:scale-105'
>
  <MailIcon class='size-4' />
  Mensaje
</a>
