---
import MailIcon from '@/components/icons/Mail.astro'

import { useTranslations } from '@/i18n/utils'
import { languageList } from '@/i18n/ui'

const currentLang = Astro.currentLocale || 'es'

const translateLabels = useTranslations(currentLang as keyof typeof languageList)
---

<a
  href='mailto:sergioaguadogarrido@gmail.com'
  target='_blank'
  rel='noopener noreferrer'
  role='link'
  class='inline-flex items-center justify-center gap-2 px-4 py-1 transition border-2
  rounded-full border-teal-300 text-teal-300 focus-visible:bg-slate-400/20 text-md
  hover:bg-slate-400/20 hover:scale-105'
>
  <MailIcon class='size-4' />
  {translateLabels('hero.pills.email')}
</a>
