---
import Layout from '@/layouts/Layout.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import ArrowRigth from '@/components/icons/ArrowRigth.astro'
import ProjectsCard from '@/components/ProjectsCard.astro'
---

<Layout title='Projects' description='Proyectos de Sergio'>
  <main class='px-4'>
    <SectionContainer id='projects' class='my-10 md:my-24'>
      <section class='border-2 border-cyan-200 grid grid-cols-1 md:grid-cols-2 gap-4'>
        <header class='p-20 border-2 border-blue-700 row-span-1'>
          <div class='group'>
            <a
              href='/'
              class='font-bold transition duration-400 text-white group-hover:text-teal-200'
            >
              <span style='display: inline-block; transform: scaleX(-1);'>
                <ArrowRigth />
              </span>
              Sergio Aguado
            </a>
          </div>
          <h1 class='text-5xl font-bold text-white'>Proyectos</h1>
          <p class='text-white'>
            Aquí encontrarás todos los proyectos en los que he trabajado a lo largo de mi
            carrera profesional y personal como desarrollador.
          </p>
        </header>

        <!-- Coloca las tarjetas de proyectos directamente aquí para que se distribuyan en el grid -->
        <ProjectsCard />
        <ProjectsCard />
        <ProjectsCard />
        <!-- Agrega más tarjetas según sea necesario -->
      </section>
    </SectionContainer>
  </main>
</Layout>

<style>
  #projects > section:first-child {
    grid-row: auto;
  }
</style>
