---
import Arrow from '@/components/icons/Arrow.astro'
import { useTranslations } from '@/i18n/utils'
import { languageList } from '@/i18n/ui'

const currentLang = Astro.currentLocale || 'es'

const translateLabels = useTranslations(currentLang as keyof typeof languageList)
const skills = [
  '.NET',
  'C#',
  'Blazor',
  'SQL',
  'SQL Server',
  'Azure',
  'JavaScript',
  'TypeScript',
  'React',
  'Astro',
  'Tailwind',
  'Bootstrap',
  'Java',
  'Spring Boot',
  'Python',
  'MySQL',
  'Oracle',
  'AWS',
  'Git',
  'Docker'
]
---

<article
  class='flex flex-col items-center justify-center gap-8 text-gray-400 md:flex-row mx-5 sm:mx-0 mb-5'
>
  <div class='[&>p]:mb-4 [&>p>strong]:text-white text-pretty order-2 md:order-1'>
    <p>
      {translateLabels('about.paragraph1.content')}
      <strong>{translateLabels('about.paragraph1.studies')}</strong>
      {translateLabels('about.paragraph1.content2')}
    </p>

    <p>
      <em class='italic font-semibold text-teal-200'>
        {translateLabels('about.paragraph2.quote')}</em
      >
      {translateLabels('about.paragraph2.content')}
      <strong>{translateLabels('about.paragraph2.learning')}</strong>
      {translateLabels('about.paragraph2.content2')}
      <strong>{translateLabels('about.paragraph2.ambition')}</strong>
      {translateLabels('about.paragraph2.content3')}
    </p>

    <p>{translateLabels('about.paragraph3.content')}</p>
    <ul
      class='grid grid-cols-3 gap-x-6 md:gap-x-10 gap-y-0 p-0 overflow-hidden list-none lg:grid-cols-4'
    >
      {
        skills &&
          skills.map((skill) => (
            <li class='text-sm flex items-center mb-2.5 text-slate-300'>
              <Arrow class='rotate-90 inline me-2 w-2.5 text-teal-300' />
              {skill}
            </li>
          ))
      }
    </ul>
  </div>
</article>
