---
const personalImageAlt = 'Sergio Aguado'
import CvPill from '@/components/pills/CvPill.astro'
import ConnectPill from '@/components/pills/ConnectPill.astro'
import EmailPill from '@/components/pills/EmailPill.astro'
---

<div class='max-w-6xl mx-auto'>
  <div class='flex gap-4 mb-4 flex-col items-center sm:flex-row sm:items-start'>
    <img
      class='rounded-full border-4 border-text-1 size-40 min-w-40 object-cover'
      src='/yo.webp'
      alt={personalImageAlt}
    />
    <div class='text-center sm:text-left'>
      <h1 class='text-3xl font-bold tracking-tight sm:text-4xl text-white'>
        Sergio Aguado Garrido
      </h1>
      <p
        class='mt-3 text-xl [&>strong]:text-white [&>strong]:font-semibold text-gray-300'
      >
        Desarrollador Frontend impulsado por diseñar y desarrollar experiencias digitales
        innovadoras y de alta calidad.
      </p>
      <nav class='flex flex-wrap gap-4 mt-3 justify-center sm:justify-start'>
        <ConnectPill />
        <EmailPill />
        <CvPill />
      </nav>
    </div>
  </div>
</div>
