---
import { languageList } from '../i18n/ui'
---

<div class='flex justify-end'>
  {
    Object.entries(languageList).map(([key, label]: [string, string]) => {
      const flagSrc = key === 'es' ? '/spain.webp' : '/usa.webp'
      return (
        <li class='list-none p-2 flex items-center '>
          <a href={`/${key}`} class='flex items-center space-x-1'>
            <img src={flagSrc} alt={`${label} flag`} width='25' height='20' class='m-2' />
            {label}
          </a>
        </li>
      )
    })
  }
</div>
