---
import ExperienceItem from './ExperienceItem.astro'

import { useTranslations } from '@/i18n/utils'
import { languageList } from '@/i18n/ui'
const currentLang = Astro.currentLocale || 'es'

const translateLabels = useTranslations(currentLang as keyof typeof languageList)
interface Experience {
  title: string
  company: string
  description: string
  link?: string
  startDate: string
  endDate: string
  location: string
  skills: string[]
  imageName: string
}

const { cards }: { cards: Experience[] } = translateLabels('experience')
---

<ol class='relative ml-3 flex flex-col gap-10'>
  {
    cards.map((experience) => (
      <li class='p-2 h-full'>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
