---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [
  {
    startDate: 'Abril 2024',
    endDate: 'Junio 2024',
    title: 'Frontend Web Developer',
    location: 'Madrid, España',
    company: 'Kairós DS',
    description:
      'Creación de un sistema que permite a los empleados de la empresa fichar mediante firma sus jornadas laborales. También permite la visualización de los registros de todos los empleados, como también ver el total de incidencias de un empleado y ver los detalles de las mismas.',
    skills: [
      'JavaScript',
      'Lit',
      'WebComponents',
      'BLoC',
      'Jest',
      'Cypress',
      'Git',
      'Docker'
    ],
    imageName: 'kairosds',
    link: 'https://www.kairosds.com/'
  },
  {
    startDate: 'Septiembre 2022',
    endDate: 'Junio 2024',
    title: 'Desarrollo de Aplicaciones Web',
    location: 'Toledo, España',
    company: 'IES Azarquiel',
    description:
      'Estudié Desarrollo de Aplicaciones Web en el IES Azarquiel en Toledo, donde aprendí a desarrollar aplicaciones web utilizando tecnologías como HTML, CSS, JavaScript, React, Java, entre otras.',
    skills: ['HTML', 'CSS', 'JavaScript', 'React', 'Java', 'SpringBoot'],
    imageName: 'iesazarquiel',
    link: 'http://www.ies-azarquiel.es/'
  }
]
---

<ol class='relative lg:mt-16 ml-3'>
  {
    EXPERIENCE.map((experience) => (
      <li class='p-2'>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
